.list-data h1,  nav {
  padding-left: 20px;
}

.list-data input[type=text] {
  width: 60%;
  padding: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 20px;
}

.list-data button {
  font-size: 20px;
  width: auto;
  padding: 5px 10px 5px;
  border: none;
  background-color: #000;
  color: #fff;
  position: relative;
  top: 2px;
}

.list-data button:hover {
  cursor: pointer;
}

/* style unordered list */



.list-data > * {
  list-style: none;
  padding: 0px;
}

.list-data ul {
  margin-bottom: 50px;
}

.list-data > * > li {
  color: #3f0f64;
  padding-left: 35px;
  position: relative;
  margin-bottom: 15px;
}

.list-data ul li:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #B266ED;
  border-radius: 50%;
  top: 5px;
  left: 15px;
}
